.cloke{
  text-align: center;
  
}
.clok{
  /* display: flex;
  flex-direction: row-reverse; */

  align-items: center;
  margin-left: 51%;
  margin-top: 21%;
  color: floralwhite;
  font-size: xx-large;
}


tr{
  align-items: center;
  color: beige;
  
  font-weight: bold;
  font-feature-settings: "abvs";
}
.mb-2 Button{
 
  margin-left: 31%;
}

body{
  background-image: url("./img.jpg");
  background-size: cover;
  background-color: transparent;}
